.button {
  border: 1px solid var(--blue-70);
  color: var(--blue-70);
  background-color: var(--white-100);
  font-family: var(--quicksand-font);
  font-size: 20px;
  height: 40px;
  width: 99px;
  border-radius: 4px;
}

.button--small {
  font-size: 14px;
  height: 32px;
  width: 88px;
}

.button--with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button--shadow {
  box-shadow: var(--blue-box-shadow);
  border: none;
}
