.card {
  width: 259px;
  padding: 16px;
}

.card__image {
  width: 100%;
}

.card__content {
  font-family: var(--inter-font);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.card__price {
  font-family: var(--inter-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

.card__shipping {
  font-family: var(--inter-font);
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-50);
  margin: 0;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
